/* BASE.CSS
 * Styles modifying the default bootstrap styles
 * No id selectors
 */

html {
    height: 100%;
}

body {
    height: 100%;
    background-color: #fafafa;
}

body.loginPage {
    display: flex;
    align-items: center;
    justify-content: center;
}

section {
    width: 100%;
    /*top right bottom left*/
    padding: 20px 15px 50px 280px;
}

nav {
    width: 250px;
    position: fixed;
    left: 15px;
    top: 80px;
}

/*** The nav */
nav > ul.nav.nav-pills.nav-stacked.h4 {
    margin-top: 0;
}

nav > ul.nav.nav-pills.nav-stacked.h4 > li > a {
    color: grey;
}

nav > ul.nav.nav-pills.nav-stacked.h4 > li.active > a {
    color: white;
}
/***/

/*** Panels */
div.panel.panel-default > div.panel-heading {
    position: relative;
}

div.panel.panel-default > div.panel-heading > div.btn-group {
    position: absolute;
    top: -1px;
    right: -1px;
}

div.panel.panel-default > div.panel-heading > div.btn-group > button.btn.btn-default.dropdown-toggle {
    /*Remove from the normal flow so it stops pushing the nested table down.*/
    position: absolute;
    right: 0;
    height: 39px;
    border-radius: 0px;
    border-top-right-radius: 5px;
}

.pull-right > .dropdown-menu {
    top: 36px;
    border-top-right-radius: 0;
}
/***/

div.panel.panel-default > table.table > tbody > tr > td {
    vertical-align: middle;
}

div.panel.panel-default > table.table > thead > tr > th:last-child,
div.panel.panel-default > table.table > tbody > tr > td:last-child {
    text-align: right;
    position: relative;
}

div.panel.panel-default > table.table > tbody > tr > td:last-child > a.btn {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0;
    height: 36px;
    line-height: 24px;
}

div.panel.panel-default > div.panel-footer {
    overflow: hidden;
}

/*** Displaying a loading gif in a panel.*/
div.panel.panel-default.loading > table.table {
    display: none;
}

div.panel.panel-default > img[src="img/loading.gif"] {
    display: none;
}

div.panel.panel-default.loading > img[src="img/loading.gif"] {
    display: initial;
}
/***/

ul.pagination {
    float: right;
    margin: 0;
}

h1 {
    margin: 0px 0px 20px 0px;
}

h1 > a.btn.btn-danger.pull-right {
    position: relative;
    top: 7px;
}
