div#login.panel.panel-default {
    width: 400px;
}

div#login .col-sm-2 {
    width: 25%;
}

div#login .col-sm-10 {
    width: 75%;
}

div#login.panel.panel-default > div.panel-body {
    padding: 15px;
}