div#reimbursements > div.panel-heading > span.pull-right {
    display: inline-block;
    width: 20%;
    position: relative;
    top: -25px;
    left: 12px;
}

div#reimbursements > div.panel-heading > span.pull-right:last-child {
    text-align: right;
    padding-right: 10px;
    line-height: 35px;
}

div#reimbursements tbody tr td:last-child div {
    width: 122px;
}

div#reimbursements tbody tr td:last-child div a.btn:first-child {
    width: 56px;
    margin-right: 8px;
}
