div#fakePanel tbody td:last-child a.btn.btn-primary {
    /* Restore button values to normal. */
    position: static;
    border-radius: 4px;
}

div#fakePanel table {
    table-layout: fixed;
}

div#fakePanel td,
div#fakePanel th {
    width: 25%;
}

div#changePassword .col-sm-2 {
    width: 30%;
}

div#changePassword .col-sm-10 {
    width: 70%;
}

nav > ul > li:last-child > a > span.badge {
    position: relative;
    top: -1px;
}

