div#totals table {
    width: 100%;
}

div#totals td {
    padding: 5px;
}

div#totals hr {
    margin-top: 5px;
    margin-bottom: 5px;
    border-top-color: grey;
}

div#totals tbody td:last-child {
    text-align: right;
}

