div#timelinePanel.collapsed .panel-body,
div#timelinePanel.collapsed .panel-footer {
    display: none;
}

div#timelinePanel.collapsed .panel-heading {
    border: 0;
    border-radius: 3px;
}

div#timelinePanel .panel-heading i.fa-angle-right {
    display: none;
}

div#timelinePanel.collapsed .panel-heading i.fa-angle-right {
    display: initial;
}

div#timelinePanel.collapsed .panel-heading i.fa-angle-down {
    display: none;
}

div#timelinePanel .panel-heading {
    position: relative;
    padding-left: 50px;
}

div#timelinePanel .panel-heading > a.btn {
    position: absolute;
    top: -1px;
    left: -1px;
    height: 39px;
    width: 39px;
    line-height: 25px;
    border-radius: 0;
    border-top-left-radius: 4px;
}

div#timelinePanel.collapsed .panel-heading > a.btn {
    border-bottom-left-radius: 4px;
}

div#timelinePanel .panel-heading i {
    font-size: 16px;
    line-height: 25px;
}

div#timelinePanel .pager {
    margin-bottom: 0;
}

div#timelinePanel .pager li:first-child {
    visibility: hidden;
}

div#timelinePanel .pager p {
    width: 25%;
    display: inline-block;
}

div#timelinePanel table.table {
    margin-bottom: 0;
}

div#timelinePanel tbody td:first-child {
    font-weight: bold;
    border-right: solid 2px #ddd;
}

div#transactionsPanel td[colspan] {
    padding: 0;
}

div#transactionsPanel td table {
    margin: 0;
}

div#transactionsPanel td:first-child {
    cursor: pointer;
}

div#transactionsPanel tr.innerRow,
div#transactionsPanel tr.innerRow table.table {
    background-color: #f5f5f5;
}

div#transactionsPanel ul.pagination {
    margin: 10px;
}

div#transactionsPanel tr tbody td:last-child {
    position: relative;
}

div#transactionsPanel tr tbody td:last-child a.btn {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0;
    height: 36px;
    line-height: 24px;
}

div#transactionsPanel tr.innerRow td:last-child tr {
    text-align: left;
}